<div class="container note-container">
  <div class="page-header">
    <a class="btn btn-primary pull-left" role="button" routerLink="">
      <i class="bi bi-person-lines-fill"></i> My Notes
    </a>
    <a class="btn btn-success pull-right" role="button" data-bs-toggle="modal" data-bs-target="#createNoteModal">
      <i class="bi bi-plus-square-dotted"></i> Create new note
    </a>
    <a class="btn btn-success pull-right" role="button" routerLink="shared">
      <i class="bi bi-share"></i> Notes Shared with me
    </a>
  </div>
  <div class="row pt-4">
    <app-mini-note *ngFor="let note of getNotes" noteTitle="{{note?.name}}" noteContent="{{note?.content}}"
                   noteId="{{note._id}}"
                   class="col-lg-4 col-md-6 col-sm-12"></app-mini-note>
  </div>

  <div class="alert alert-danger note-alert-container" role="alert" *ngIf="hasNotes()">No results</div>
</div>

