.notification-container {
  width: 100%;
  margin-top: 2%;
}

.container.notification-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.notification-delete-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.notification-item-separator {
  border-right: 2px solid black;
}

.notification-wrapper {
  width: 90%;
  margin: 0 auto;
}

.notification-container-crud.row {
  width: 85%;
  margin: 0 auto;
}

.notification-add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
