<div class="notification-container">
  <div class="notification-container-crud row">
    <div class="col-12 notification-add-button">
      <button type="button" class="btn btn-dark" (click)="openCreateNotificationModal()">Create Notification</button>
    </div>
  </div>
  <div class="notification-wrapper">
    <div
      class="container notification-item"
      *ngFor="let notItem of getNotifications">
      <div class="row">
        <div class="col-3 notification-item-separator">
          {{notItem.dueDate}}
        </div>
        <div class="col-8 notification-item-separator">
          {{notItem.message}}
        </div>
        <div class="col-1 notification-delete-item">
          <button type="button" class="btn-close" aria-label="Close" (click)="deleteNotificationItem(notItem._id)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
