<nav class="navbar navbar-collapse navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid px-3">
    <img class="navbar-brand p-2" src="favicon.ico" alt="Icon"/>
    <span class="text-white me-md-4 me-lg-5">Notes in the cloud</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse mt-2 mt-sm-2 mt-md-0" id="navbar">
      <ul class="navbar-nav align-items-md-center w-100">
        <li class="nav-item">
          <a class="nav-link p-md-2 text-center text-white" routerLink="/">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-md-2 text-center text-white" routerLink="/notifications">Notifications</a>
        </li>
        <li class="nav-item mx-md-auto col-sm-12 col-md-5 col-lg-4 order-first order-sm-first order-md-0">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search notes" aria-label="Search" name="searchBar" [(ngModel)]="searchBarInput">
            <button class="btn btn-outline-light" type="submit" (click)="searchNotes()">Search</button>
          </form>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link text-center" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img class="d-none d-md-block" src="favicon.ico" alt="Icon"/>
              <span class="d-md-none">Profile</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item text-center" routerLink="profile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item text-center" routerLink="" (click)="logout()">Log out</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
