<div class="container-fluid m-2 note-wrapper">
  <div class="card h-100 note border-dark">
    <h4 class="card-header note-header text-center text-white bg-dark">
      <a class="nav-link link-light" [routerLink]="['/notes',noteId]">{{noteTitle}}</a>
    </h4>
    <div class="card-body">{{noteContent}}</div>
  </div>
</div>
