<div class="modal-header text-center bg-light">
  <h2>
    Create a new notification
  </h2>
  <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="notification-message" class="col-form-label">Notification message:</label>
    <input type="text" class="form-control" id="notification-message" [(ngModel)]="notificationMessage">

    <div class="mb-3 date-picker-container">
      <label class="col-form-label">Notification date and time:</label>
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      <ngb-timepicker [(ngModel)]="time" [seconds]="seconds"></ngb-timepicker>
    </div>

    <div class="pt-1 pb-2">
      <button class="btn btn-primary" style="float: right"
              (click)="createNotification()">Create
      </button>
      <br>
    </div>

  </div>
</div>
