<div class="container">
  <div class="row mt-4">
    <app-mini-note *ngFor="let note of getFoundNotes" noteTitle="{{note?.name}}" noteContent="{{note?.content}}"
                   noteId="{{note._id}}"
                   class="col-lg-4 col-md-6 col-sm-12"></app-mini-note>
  </div>
</div>

<div class="alert alert-danger mx-5 mt-2" role="alert" *ngIf="getFoundNotes?.length==0">No results</div>
