<div class="m-2" style="height: 56rem">
  <div class="card h-100 bg-dark" style="border-radius: 1rem">
    <div class="card-header note-header mx-0 text-center text-white bg-dark">
      <h4>{{getNote?.name}}</h4>
    </div>
    <div *ngIf="isNoteEditable" class="note-crud-container">
        <a class="btn btn-outline-light mx-2" data-bs-toggle="modal" data-bs-target="#addUsersToNote">Edit authorized users</a>
      <div class="crud-button-right-side-container">
        <a class="btn btn-outline-light mx-2" (click)="saveNote()">Save</a>
        <a class="btn btn-outline-light mx-2" (click)="deleteNote()">Delete</a>
      </div>
    </div>
    <textarea class="card-body" [(ngModel)]="getNote.content" [disabled]="!isNoteEditable"></textarea>
  </div>
</div>

<div class="modal fade" id="addUsersToNote" tabindex="-1" aria-labelledby="addUsersToNote" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUsersToNoteTitle">Edit users authorized to access note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username"
                 aria-describedby="basic-addon2" [(ngModel)]="userInputValue">
          <button class="input-group-text" id="basic-addon2" (click)="addUserToAuthorizedUsersList()">Add user</button>
        </div>
        <div class="py-1" *ngFor="let authorizedUser of getAuthorizedUsers">
          <span class="col">{{authorizedUser}}</span>
          <button class="col btn-close" type="button" aria-label="Close" (click)="removeUserFromNoteAuthorizations(authorizedUser)"></button>
        </div>
        <div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateNoteAuthz()">
          Save authorizations
        </button>
      </div>
    </div>
  </div>
</div>
