<div class="vh-100 app-background">
  <app-header *ngIf="getAuthenticationService.isUserLoggedIn()"></app-header>
  <router-outlet></router-outlet>
</div>

<div class="modal fade" id="createNoteModal" aria-labelledby="createNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="note-name" class="col-form-label">Note name:</label>
          <input type="text" class="form-control" id="note-name" [(ngModel)]="noteName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createNote()">Create note</button>
      </div>
    </div>
  </div>
</div>


