<div class="profile-container">
  <div class="container-sm cover pt-4 px-5 mx-auto ">
    <button class="float-end btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete Profile</button>
    <div *ngIf="isEditMode()">
      <button (click)="cancelEditMode()" class="btn btn-secondary float-end ">Cancel</button>
      <button (click)="saveUser()" class="btn btn-primary float-end me-2 " type="submit">Save</button>
    </div>
    <div *ngIf="!isEditMode()">
      <button (click)="enterEditMode()" class="float-end btn btn-success">Edit</button>
    </div>

    <div class="row">
      <img src="/assets/cool_cat.jpeg" alt="..." style="width: 200px"
           class="col-2 rounded float-start mb-2 img-fluid profile-img">
      <h3
        class="col mt-0 mb-2 align-middle">{{profilePageForm?.get("firstName").value}} {{profilePageForm?.get("lastName").value}}</h3>
    </div>

    <span class="row d-flex justify-content-end text-black">{{getProfileForm?.get("username").value}}</span>
  </div>

  <hr class="horizontal-separator">
  <form [formGroup]="getProfileForm" (ngSubmit)="onSubmit()" *ngIf="getProfileForm" class="container p-2">
    <div class="row m-2">
      <div class="col-md-6 col-sm-12 col-12">
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5 ">
          <label class="input-group-text" for="firstName">First Name</label>
          <input class="form-control" id="firstName" type="text" formControlName="firstName">
        </fieldset>
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5">
          <label class="input-group-text" for="lastName">Last Name</label>
          <input class="form-control" id="lastName" type="text" formControlName="lastName">
        </fieldset>
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5">
          <label class="input-group-text" for="password">Password</label>
          <input class="form-control" id="password" type="text" formControlName="password">
        </fieldset>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5">
          <label class="input-group-text" for="confirmPassword">Re-enter password</label>
          <input class="form-control" id="confirmPassword" type="text" formControlName="confirmPassword">
        </fieldset>
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5">
          <label class="input-group-text" for="email">Email</label>
          <input class="form-control" id="email" type="email" formControlName="email"
                 [ngClass]="{ 'is-invalid': getProfileForm?.get('email').errors }">
        </fieldset>
        <fieldset [disabled]="!isEditMode()" class="input-group col pd-5">
          <label class="input-group-text" for="gender">Gender</label>
          <input class="form-control" id="gender" type="text" formControlName="gender">
        </fieldset>
      </div>
    </div>
  </form>
    <to-do-component></to-do-component>
</div>



<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
      </div>
      <div class="modal-body">Are you sure you want to delete your profile?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUser()">Delete User</button>
      </div>
    </div>
  </div>
</div>
