.profile-head {
  transform: translateY(5rem)
}

.pd-5 {
  padding: 5px;
}

.profile-container {
  width: 95%;
  background: white;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 2%;
}

.profile-img {
  border-radius: 100% !important;
}

.notes-list {
  background: white;
  width: 95%;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 1%;
}
