.to-do-header-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.to-do-item-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.to-do-button-add {
  margin-left: 10px;
}

.to-do-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.to-do-item-text-container {
  border-bottom: 2px dashed black;
  padding: 5px;
}
