<div class="container">
  <div class="mb-4">
    <div class="to-do-header-holder">
      <h1 class="text-4xl font-black">Todo List</h1>
    </div>
    <div class="to-do-item-input-container">
      <form [formGroup]="newTodoForm" class="flex mt-4" (ngSubmit)="addTask()">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
               placeholder="Add Todo" formControlName="todoItem">
        <button type="submit" class="btn btn-primary to-do-button-add">Add</button>
      </form>
    </div>
  </div>
  <div class="to-do-items-container">
    <div class="flex mb-4 items-center" *ngFor="let value of taskList; index as i">
      <p class="to-do-item-text-container" [ngClass]="{'line-through': value}">{{value}}</p>
      <div class="to-do-items-buttons-holder">
        <button class="btn btn-danger" (click)="removeTask(i)">Remove</button>
      </div>
    </div>
  </div>
</div>
